doctype html
html
  head
    title= 'CS540 - CryptoGambit Project'
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    div(style="margin:20px")
      h3(style="text-align:center") CS540 - CryptoGambit Project
      block content